<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% for i in a %}
        <label for="fname">auther name</label><br>
        <input type="text" id="fname" name="auther_name" value="{{i.name}}"><br><br>
        <label for="fname">auther_bio</label><br>
        <input type="text" id="fname" name="auther_bio" value="{{i.bio}}"><br><br>
        <button type="submit">submit</button>
        {% endfor %}
    </form>
</body>
</html>