<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="fname">title</label><br>
        <input type="text" id="fname" name="title" value=><br><br>
        <label for="lname">content</label><br>
        <input type="text" id="lname" name="content" value=><br><br>
        <label for="fname">auther</label><br>
        <input type="text" id="fname" name="auther" value=><br><br>
        <label for="fname">created_at</label><br>
        <input type="date" id="fname" name="created" value=><br><br>
        <label for="fname">updated_at</label><br>
        <input type="date" id="fname" name="updated" value=><br><br>
        <button type="submit">submit</button>
      </form>
      
</body>
</html>