<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>book id</th>
            <th>book name</th>
            <th>user</th>
        </tr>
        {% for i in a %}
        <tr>
            <td>{{i.book_id}}</td>
            <td>{{i.book_naame}}</td>
            <td>{{i.user1}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>