<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% for i in a %}
        <label for="NAME">NAME</label>
        <input type="text" id="lname" name="name" value="{{i.product_name}}"><br><br>
        <label for="lname">created at</label><br>
        <input type="text" id="lname" name="created" value="{{i.project_title}}"><br><br>
        <button type="submit">submit</button>
        {% endfor %}
      </form>
</body>
</html>