<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="fname">product name</label><br>
        <input type="text" id="fname" name="name" value=><br><br>
        <label for="lname">product price</label><br>
        <input type="text" id="lname" name="price" value=><br><br>
        <label for="lname">created at</label><br>
        <input type="date" id="lname" name="created" value=><br><br>
        <button type="submit">submit</button>
      </form>
      
</body>
</html>