<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="search" placeholder="search">
        <button type="submit">submit</button>
    </form>
    
    <h1>product's table</h1>
    <table border="2">
        <tr>
            <th>product name</th>
            <th>product price</th>
            <th>created at</th>
            <th>updated</th>
        </tr>
        {% for i in a %}
        <tr>
            <td>{{i.product_name}}</td>
            <td>{{i.product_price}}</td>
            <td>{{i.created_at}}</td>
            <td><a href="/productupd/{{i.product_name}}">update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>